<div class="row">
    <div class="col-8">
        <div class="alert alert-light  w-100" role="alert">
            A simple light alert—check it out!
        </div>
    </div>
    <div class="col">
        <div class="alert alert-light" role="alert">
            A simple light alert—check it out!
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="alert alert-light" role="alert" style="min-height: 800px;">
            A simple light alert—check it out!
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-12">
        <div class="alert bg-dark text-white" style="min-height: 150px;">
            A simple dark alert—black it out!
        </div>
    </div>
</div>
